<body>
  <div class="container">
    <section class="news-hero mt-30">
      <h1>AI News</h1>
    </section>
    <section class="filters mb-5">
      <div style="min-width: 400px">
        <input class="input input--primary" placeholder="Search" />
      </div>
      <div style="min-width: 400px">
        <select name="select" class="input input--primary">
          <option value="value2" selected>Categories</option>
          <option value="value1">Value 1</option>
          <option value="value3">Value 3</option>
        </select>
      </div>
    </section>
    <div class="base-card__list mb-5">
      <div w3-include-html="/components/cards/new.html"></div>
      <div w3-include-html="/components/cards/new.html"></div>
      <div w3-include-html="/components/cards/new.html"></div>
      <div w3-include-html="/components/cards/new.html"></div>
    </div>
    <div class="base-card__list mb-15">
      <div w3-include-html="/components/cards/new.html"></div>
      <div w3-include-html="/components/cards/new.html"></div>
      <div w3-include-html="/components/cards/new.html"></div>
      <div w3-include-html="/components/cards/new.html"></div>
    </div>
  </div>
</body>