
.footer {
    width: 100%;
    background-color: #ffffff; }
    .footer__container {
      z-index: 200;
      display: flex;
      justify-content: space-between;
      padding: 20px; }
    .footer__social-media__list {
      color: #272727;
      font-size: 20px;
      gap: 20px;
      display: flex; }
  