<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IAcademy</title>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
    <link rel="stylesheet" href="/static/css/index.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <script
      src="https://kit.fontawesome.com/6b1e82a8d1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  <script>
    w3IncludeHTML();
  </script>
</html>
