<div class="header">
  <a href="/">
    <img class="header__logo" src="/assets/images/logo.png" />
  </a>
  <ul class="header__navigation">
    <li class="header__navigation__element">
      <a routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li class="header__navigation__element">
      <a routerLink="/documentation" routerLinkActive="active">Documentation</a>
    </li>
    <li class="header__navigation__element">
      <a routerLink="/about_us" routerLinkActive="active">About us</a>
    </li>
    <li class="header__navigation__element"><a routerLink="/news" routerLinkActive="active">News</a></li>
  </ul>
  <div class="header__buttons">
    <a class="header__buttons__register" href="/register">Register</a>
    <a class="header__buttons__login" href="/login">Log in</a>
  </div>
</div>
