@import "../../../assets/colors.scss";

.team {
  &__title {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    gap: 20px;

    @media (max-width: $sm) {
      flex-direction: column;
      align-items: center;
    }


    &__card {
      flex: 1;
      border-radius: 20px;
      overflow: hidden;
      background-color: white;

      &__image {
        width: 100%;
        height: 300px;
        overflow: hidden;

        &__element {
          transform: scale(1.3);
          width: 100%;
          height: 100%;
          background-position: center;

          background-size: cover;
          background-image: url("/static/images/pepe.jpg");
          background-repeat: no-repeat;
        }
      }

      &__body {
        &__container {
          padding: 50px;
        }

        padding: 30px;
      }
    }
  }
}

.company_role {
  font-size: medium;
  margin-top: -25px;
  color: #7e7e7e;
  font-weight: 600;
}

.hero {
  &--reverse {
    flex-flow: row-reverse;
  }

  display: flex;
  width: 100%;
  align-items: center;

  @media (max-width: $md) {
    flex-direction: column;
  }

  &__left {
    color: $text-primary;
    width: 50%;

    @media (max-width: $md) {
      width: 100%;
    }

    h1 {
      margin: 0px !important;
      padding: 0px !important;
      font-size: 40px;
    }

    h2 {
      font-weight: 400;
      font-size: large;
      color: $text-secondary;

      @media (max-width: $md) {
        font-size: 1em;
      }
    }

    h3 {
      font-weight: 400;
      color: $text-secondary;
    }

    &__buttons {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__right {
    @media (max-width: $md) {
      width: 100%;
    }

    img {
      width: 100%;
      border-radius: 20px;
    }

    width: 50%;
    color: $text-primary;
  }
}