/* You can add global styles to this file, and also import other style files */
@import "assets/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    position: relative;
    background-color: #f5f5f5;
    margin: 0 !important;
    padding: 0 !important;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
}

@for $i from 0 through 50 {
    .pl-#{$i} {
        padding-left: 7px * $i !important;
    }

    .pr-#{$i} {
        padding-right: 7px * $i !important;
    }

    .pb-#{$i} {
        padding-bottom: 7px * $i !important;
    }

    .pt-#{$i} {
        padding-top: 7px * $i !important;
    }

    .ml-#{$i} {
        margin-left: 7px * $i !important;
    }

    .mr-#{$i} {
        margin-right: 7px * $i !important;
    }

    .mb-#{$i} {
        margin-bottom: 7px * $i !important;
    }

    .mt-#{$i} {
        margin-top: 7px * $i !important;
    }
}

.button {
    &--primary {
        text-decoration: none;
        border-radius: 10px;
        padding: 10px 40px;
        background-color: $brand;
        color: white;
        margin: 0px;
        border: 2px $brand solid;
        font-weight: 500;
    }

    &--secondary {
        margin: 0px;
        text-decoration: none;
        border-radius: 10px;
        padding: 10px 40px;
        border: 2px $brand solid;
        color: $brand;
        font-weight: 500;
    }
}

.base-card {
    cursor: pointer;
    flex-direction: column;
    display: flex;
    gap: 25px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        &>* {
            flex: 0 0 25%;

            @media (max-width: $lg) {
                flex: 0 0 33.33%;
            }

            @media (max-width: $md) {
                flex: 0 0 50%;
            }

            @media (max-width: $sm) {
                flex: 0 0 100%;
            }
        }

        &__card {
            margin: 10px;
            border-radius: 20px;
            overflow: hidden;
            background-color: white;

            &__image {
                width: 100%;
                height: 200px;
                overflow: hidden;

                &__element {
                    transform: scale(1.3);
                    width: 100%;
                    height: 100%;
                    background-position: center;

                    background-size: cover;
                    background-image: url("/static/images/elonmusk.jpg");
                    background-repeat: no-repeat;
                }
            }

            &__body {
                h2 {
                    font-size: 20px;
                }

                p {
                    font-size: 13px;
                }

                &__container {
                    padding: 50px;
                }

                padding: 30px;
            }
        }
    }
}

.filters {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: $lg) {
        &>* {
            width: 100%;
        }

        justify-content: stretch;
    }

    @media (max-width: $md) {
        flex-direction: column;
    }
}

.container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $sm) {
        max-width: 95%;
    }
}

body {
    font-family: "Poppins", sans-serif;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
}

.highlighted {
    color: $brand;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.input {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    border: 0px solid;
    border-radius: 10px;

    &--secondary {
        background-color: $background-secondary;
    }

    &--primary {
        background-color: $background-primary;
    }
}

.bg--secondary {
    background-color: $background-secondary;
}

.bg--primary {
    background-color: $background-primary;
}

.img-placeholder {
    border-radius: 20px;
    background-color: #d1d1d1;
    width: 100%;
    height: 500px;
}

.error-message {
    color: red;
    margin: 0px !important;
    padding: 0px !important;
    display: none;
}

.error-message--active {
    display: block;
}

.text-center {
    text-align: center;
}

.radius-circle {
    border-radius: 50%;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.tag--red {
    color: red !important;
    background-color: rgba($color: red, $alpha: 0.1) !important;
}

.tag--green {
    color: green !important;
    background-color: rgba($color: green, $alpha: 0.1) !important;
}

.tag--blue {
    color: blue !important;
    background-color: rgba($color: blue, $alpha: 0.1) !important;
}

.tag {
    color: gray;
    background-color: #40404031;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 700;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

@for $i from 0 through 10 {
    .col-#{$i} {
        flex: $i !important;
    }
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 0;
    border-bottom: 2px solid $background-secondary;
    left: 0;
    right: 0;
    background-color: $background-primary;
    z-index: 200;

    &__logo {
        width: 180px;

        @media (max-width: $md) {
            width: 140px;
        }
    }

    &__navigation {
        list-style-type: none;
        display: flex;
        gap: 30px;

        &__element {
            a {
                color: $text-secondary;
                text-decoration: none;
            }

        }

        @media (max-width: $md) {
            display: none !important;
        }
    }

    &__buttons {
        gap: 10px;
        display: flex;

        &__login {
            @extend .button--primary;
        }

        &__register {
            @extend .button--secondary;
        }

        @media (max-width: $md) {
            display: none !important;
        }
    }

    &__hamburguer {
        display: none;

        @media (max-width: $md) {
            display: block !important;
        }
    }
}